@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;600;700&display=swap');


html, body {
  /*background-color: seashell;*/
  /*background-color: darkgray;*/
  background-color: #ccc;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
