@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

.header {
  width: 100%;
  text-align: right;
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
}

.header .header_text {
  border-bottom: 1px solid gainsboro;
}

.header .site_name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: 100;
  padding: 10px;
}

.header .link {
  border-bottom: 1px solid gainsboro;
}

.link {
  display: inline-block;
  margin: 15px 25px;
  color: #0f0f0f;
  font-size: 24px;
  transition: all 100ms;
}

.link:hover {
  color: #888888;
  transition: all 100ms;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
