.MainPage {
    height: 100%;
    overflow: hidden;
}

.content {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.tweet_holder {
  /*overflow: auto;*/
  text-align: center;
  flex: 1;
  min-height: auto;
}


#main_tweet {
  font-family: 'Martel', serif;
  font-weight: 400;
}

.button_container {
  margin-bottom: 5rem;
  flex: 0 1 150px;
  min-height: 100px;
}

.buttons #new_question_button {
  font-family: 'Dosis', serif !important;
  text-transform: lowercase !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

.buttons #permalink_button {
  font-family: 'Dosis', serif !important;
  text-transform: lowercase !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  color: #555 !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tweet_holder {
    margin: 3rem 1.5rem 0;
    font-size: 1.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .tweet_holder {
    margin: 3rem 5rem 0;
    font-size: 1.9rem;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .tweet_holder {
    margin: 5rem 8rem 0;
    font-size: 2.2rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .tweet_holder {
    margin: 6rem 10rem 0;
    font-size: 2.6rem;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .tweet_holder {
    margin: 6rem 13rem 0;
    font-size: 2.6rem;
  }

}
